html{
    font-family: Playfair Display,roboto,sans-serif;
    
    body{
         width: 100%;
       
    }
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;


}


*, *::before, *::after {
    box-sizing: border-box;
  }

h1{
    font-size: 50px;
    font-family: Great Vibes;
}

h2{
    font-size: 30px;
    font-weight: 100;
    font-family: Playfair;
}

h5{
    font-size: 22px;
    font-family: Playfair;
}

p{
    margin: 0.2em 0;
    font-family: roboto;
    font-weight: 600;
}

a{
    font-size: 16px;
    text-decoration: none;
}

ul{
    list-style: none;
}


img {
    max-width: 100%;
    height: auto;
}
  
.container{
    width: 80%;
    margin: 0 auto;
 }  


 .section{
    height: 600px;
    display: flex;
    flex-direction: row;
}

@media (min-width: 357px) and (max-width: 1024px){

    

    .section{
        height: 600px;
        display: flex;
        flex-direction: row;
    }

}

@media only screen and (max-width: 375px){


    body{
        width: 100%;
        text-align: center;
   }

    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 23px;
        font-family: Playfair;
    }
    
    h5{
        font-size: 11px;
        font-family: Playfair;
    }
    
    p{
        margin: 0.1em 0;
        font-family: roboto;
        font-weight: 600;
    }
    
    a{
        font-size: 8px;
        text-decoration: none;
    }
    
    ul{
        list-style: none;
    }
    
    
    img {
        max-width: 100%;
        height: auto;
    }
      
    .container{
        width: 100%;
        margin: 0 auto;
     }  

    .section{
        height: 400px;
        display: flex;
        flex-direction: column;
    }


}